<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/scripts/javascript.js"></script>

<script type="text/javascript">
$(window).ready(function(){

	//initialized draggable element, and 'drag' listener
	$(".svgholder").draggable({
  	drag: function(event, ui) {}
	});

	//bind .svgholder to drag, and fill the internal svg path with randomColor
	$(".svgholder").on("drag", function( event, ui ) {
	  //console.log("i'm getting dragged!");
		$(".svgholder svg g path").css("stroke", randomColor());
	});

	//random color function
	var randomColor = function () {
		var color = '#' + ("000000" + Math.random().toString(16).slice(2, 8).toUpperCase()).slice(-6);
	  return color;
	};


});
</script>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="style.css">

</head>


<body>

<div class="container">

	<!-- badge previously here -->
	
	

<div class="row">
<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-8">

	<header>
		<h3 class="bold"><a href="index.html">The Southland Institute</a><br>
		(for critical, durational, and<br> 
		typographic post-studio practices)</h3>
		
		<p><em>currently under construction</em></p>
		
		<br>
		
		<nav>
		<li>about</li>
		<li><a href="recommendedreading.html">recommended reading</a></li>
		<li><a href="resources.html">resources</a></li>
		<li><a href="outerschools.html">other schools of interest</a></li>
		<li><a href="apply.html">apply</a></li>
		
		</nav>
	</header>


<div id="badge-container">
		<!-- <img src='images/S_outline.svg'> -->

		<div class="svgholder">
		<!-- testing inline svg -->
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 144 72" enable-background="new 0 0 144 72" xml:space="preserve">
				<g>
				<path fill="none" stroke="#6f19a0" stroke-width="0.5" d="M42.3,6.5H54l1.9,11H43c-16,0-24.6,6.9-24.6,18.4s7.4,16.7,19.8,16.7
					h4.3c9.5,0,16.5-3.3,24.1-15.8l6.2-10.5C80.7,13.4,90,8.2,103.2,8.2h5.7c16.7,0,25.8,10,25.8,26.7c0,17.9-9.3,27.7-29.1,27.7H92
					l-1.7-11h13.1c16,0,22.4-5.5,22.4-16.7c0-10-5.7-15.5-16.9-15.5h-5.3c-10.5,0-16,3.1-22.7,13.8l-6.7,11C65,59.7,56.4,64,43.3,64H39
					C20.8,64,9.6,54.2,9.6,35.8C9.6,17.2,20.1,6.5,42.3,6.5z"/>
				</g>
			</svg>
		</div> <!--/.svgholder -->

	</div> <!-- /.badge-container -->


<br>



<p class="lead">The Southland Institute (for critical, durational, and typographic post-studio practices) is an unaccredited two-year postgraduate workshop and evolving public online repository of educational resources, built around a central curricular helix consisting of the tools, processes, histories, and discourses of typography and critical art-making. It is also intended to be a forum for inquiry into the processes, potentials, and complications of education and its attendant structures and systems.</p>
 
<p class="lead">Participants&rsquo; own self-directed practices will be supplemented by courses, screenings, lectures, trips, theoretical readings, and discussions involving image, sound, time, typography, space, theory, structure, pedagogy, archives, and language. The program will be focused on exploring the gaps, grey areas, interrelationships, and common boundaries between these concerns, as well as their connection and relation to broader questions and circumstances.</p>

<p class="lead">These fundamental strands will be augmented by an evolving sequence of courses and workshops from a variety of disciplines, depending on participants&rsquo; backgrounds and interests, including but not limited to: design, art, moving image, economics, curation, landscape studies, education, writing, architecture, and sound. Connections will be explored via work, writing, conversation, typographic studies, critique, and documentation. The program is intended to provide space and time in which participants can expand the spectrum and depth of their practices, develop the critical tools necessary to navigate and articulate the paradoxes and contradictions around them, and to find the formal tools and venues best suited to conveying these explorations. 
</p>


<h4>Objective:</h4>
<p>Offering an approach to thinking about and making work rooted in historical and contemporary practices and theories of both graphic design and contemporary art, the Southland Institute is a space for self-directed research, critique, conversation, cross-pollination, and expansion along and between continua of critical, durational, and typographic post-studio practices. We are seeking participants with integrative and transdisciplinary practices and backgrounds who are interested in interweaving discourses of 20th and 21st century art, media, graphic design, literary, and critical theory.</p>

<p>The aim of the institute is to expand and deepen participants&rsquo; practices and provide an experience and education roughly analogous to graduate level study, while removing it from the private investment and commercial speculation of the student loan industry.</p>

<p>The program is intended to function on its own as a practice-based, research-driven, postgraduate educational environment, or as a supplement to other institutions or engagements with which participants may be currently or previously involved.</p>

<p>Participants will work primarily on self-directed projects under consultation with resident faculty and in conversation and collaboration with one another.</p>

<h4>Conditions / Need:</h4>
<p>The aim of the institute is to activate and explore the points of contact between disciplines and media, and to create a space for extended development, exposure, and conversation, without the heavy debt burden that often accompanies such study. The institute arises in response to several gaps that we perceive in the current landscape of higher education:
<ul> 
<li>a gap in dialog between departments and discourses at existing institutions of all sizes 
<li>a lack of programs that actively integrate strategies and pedagogy from both graphic design and post-conceptual art
<li>a need for more programs that enable and encourage rigorous and sustained study and practice without incurring long term debt. 
<li>a lack of institutions in which faculty are paid fairly and sustainably for their contributions. 
</ul>
</p>


<h4>Structure:</h4>
<p>The program is 2 years long, each academic year divided into two 12-week sessions. Each session consists of two parts: one taught by a visiting educator/practitioner, the other consisting of a typography workshop in direct conversation with, and response to, the other course. Each session will begin with a reader or reading list, and end with documentation of the activities and conversation from the course, both of which (reader + documentation) will then be made public via the Southland Institute website. The semester will also include critiques, trips, presentations, and individual meetings with resident and visiting instructors.</p> 

<h4>Community Involvement:</h4>
<p>During each year of residency, each participant will be required to organize one exhibition, and organize and teach one public workshop on a topic of their choosing.</p>

<h4>Location:</h4>
<p>Los Angeles, CA and online at southland.institute</p> 

<h4>Resources:</h4>
<p>The institute begins its existence with little in the way of property or equipment. We believe that this enables an efficiency and a focus on education itself, at a cost that is many degrees of magnitude lower than many, if not all, current offerings. Los Angeles is a city of numerous research institutions, libraries, and other accessible resources of which we encourage students to actively avail themselves.</p>

<h4>Tuition, Affordability, Transparency, and Sustainability:</h4>

<p>The twin financial aims of the institute are affordability for students and fair compensation for instructors. We believe in paying our instructors for their contributions, and hope to model an alternative to the ubiquitous undervaluing of educators.</p>

<p>Program tuition is $3500 / year.</p> 

<h4>Accreditation:</h3>
<p>The Southland Institute is not accredited by any accrediting body, and therefore does not officially grant degrees.</p>




<br>

<h4><a href="mailto:southlandworkshop@gmail.com" target="_top">inquiries / mailing list</a></h4>

<p>Southland Institute mentioned in an<a href="http://temporaryartreview.com/the-alternative-art-school-fair-at-pioneer-works/"> article in Temporary Art Review</a> on the <a href="http://pioneerworks.org/alternative-art-school-fair/">Alternative Art School Fair</a> in Red Hook, NY, November 19-20, 2016.</p>

<!-- <h4><a href="apply.html">apply</a></h4> -->
<br>
<br>

</div> <!--col-->
</div> <!--row-->
</div> <!--container-->

</body>

</html>
