<html>

<head>
	
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/scripts/javascript.js"></script>

<script type="text/javascript">
$(window).ready(function(){

	//initialized draggable element, and 'drag' listener
	$(".svgholder").draggable({
  	drag: function(event, ui) {}
	});

	//bind .svgholder to drag, and fill the internal svg path with randomColor
	$(".svgholder").on("drag", function( event, ui ) {
	  //console.log("i'm getting dragged!");
		$(".svgholder svg g path").css("stroke", randomColor());
	});

	//random color function
	var randomColor = function () {
		var color = '#' + ("000000" + Math.random().toString(16).slice(2, 8).toUpperCase()).slice(-6);
	  return color;
	};


});
</script>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="css/style.css">

</head>


<body>

<div class="container">

	<!-- badge previously here -->
	
	

<div class="row">
<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-8">

	<header>
		<h3 class="bold"><a href="index.html">The Southland Institute</a><br>
		(for critical, durational, and<br> 
		typographic post-studio practices)</h3>
		
		<p><em>currently under construction</em></p>
		
		<br>
		
		<nav>
		<li>about</li>
		<li><a href="recommendedreading.html">recommended reading</a></li>
		<li><a href="resources.html">resources</a></li>
		<li><a href="outerschools.html">other schools of interest</a></li>
		<li><a href="apply.html">apply</a></li>
		
		</nav>
	</header>

{{content}}

</div> <!--col-->
</div> <!--row-->
</div> <!--container-->

</body>

</html>
