<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/scripts/javascript.js"></script>

<script type="text/javascript">
$(window).ready(function(){

	//initialized draggable element, and 'drag' listener
	$(".svgholder").draggable({
  	drag: function(event, ui) {}
	});

	//bind .svgholder to drag, and fill the internal svg path with randomColor
	$(".svgholder").on("drag", function( event, ui ) {
	  //console.log("i'm getting dragged!");
		$(".svgholder svg g path").css("stroke", randomColor());
	});

	//random color function
	var randomColor = function () {
		var color = '#' + ("000000" + Math.random().toString(16).slice(2, 8).toUpperCase()).slice(-6);
	  return color;
	};


});
</script>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="style.css">

</head>


<body>

<div class="container">

	<!-- badge previously here -->
	
	

<div class="row">
<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-8">

	<header>
		<h3 class="bold"><a href="index.html">The Southland Institute</a><br>
		(for critical, durational, and<br> 
		typographic post-studio practices)</h3>
		
		<p><em>currently under construction</em></p>
		
		<br>
		
		<nav>
		<li>about</li>
		<li><a href="recommendedreading.html">recommended reading</a></li>
		<li><a href="resources.html">resources</a></li>
		<li><a href="outerschools.html">other schools of interest</a></li>
		<li><a href="apply.html">apply</a></li>
		
		</nav>
	</header>


	<div id="badge-container">
		<!-- <img src='images/S_outline.svg'> -->

		<div class="svgholder">
		<!-- testing inline svg -->
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 144 72" enable-background="new 0 0 144 72" xml:space="preserve">
				<g>
				<path fill="none" stroke="#6f19a0" stroke-width="0.5" d="M42.3,6.5H54l1.9,11H43c-16,0-24.6,6.9-24.6,18.4s7.4,16.7,19.8,16.7
					h4.3c9.5,0,16.5-3.3,24.1-15.8l6.2-10.5C80.7,13.4,90,8.2,103.2,8.2h5.7c16.7,0,25.8,10,25.8,26.7c0,17.9-9.3,27.7-29.1,27.7H92
					l-1.7-11h13.1c16,0,22.4-5.5,22.4-16.7c0-10-5.7-15.5-16.9-15.5h-5.3c-10.5,0-16,3.1-22.7,13.8l-6.7,11C65,59.7,56.4,64,43.3,64H39
					C20.8,64,9.6,54.2,9.6,35.8C9.6,17.2,20.1,6.5,42.3,6.5z"/>
				</g>
			</svg>
		</div> <!--/.svgholder -->

	</div> <!-- /.badge-container -->


<br>


{{content}}

</div> <!--col-->
</div> <!--row-->
</div> <!--container-->

</body>

</html>
